/* Grid layout 
tham khảo: https://viblo.asia/p/css-grid-layout-co-ban-oOVlYBJy58W
https://www.w3schools.com/css/css_grid.asp */
/* Cách tốt nhất để hiểu thuộc tính của CSS là xóa thử thuộc tính đó xem nó có tác dụng gì :D */

* {
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#header {
    padding: 1px 8px;
    background:green;
    
}
#content::after {
    /* Do có thành phần sử dụng float nên dùng cái này để ngăn các phần khác chiếm lấy khoảng trống background của thành phần này (xóa thử để biết thêm chi tiết)*/
    background-color: white;
    content: "";
    clear: both;
    display: block;
}
#navbar {
    background: rgb(47, 155, 74);
    width: 100%;
    height: 60px;
}
.nav-menu {
    width: 80%;
}
.nav-drop {
    height: 60px;
}
.nav-drop h4 {
    line-height: 60px;
    margin: 0;
    text-align: center;
}
/* :hover là khi người dùng trỏ chuột vào thành phần này */
.nav-drop:hover {
    background: aquamarine;
}
/* Cho danh sách của thanh điều hướng ẩn đi bằng display: none và hiện lên khi di chuột vào :hover display:block */
.nav-list {
    padding: 0;
    position: relative;
    display: none;

    margin-block-start: 0;
    list-style: none;
    box-shadow: 0px 1px 2px 2px #888888;
}
.nav-drop:hover .nav-list {
    display: block;
}
.nav-item {
    line-height: 30px;
    width: 100%;
    text-align: center;
    padding: 15px 0;
    background-color: aquamarine;
}
.nav-item:hover {
    background-color: rgb(68, 116, 36);
}

.search-bar {
    margin: 15px;
}
.list-item {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: 3px solid aqua;
}
#footer {
    background:green;
    margin-top: 8px;
    text-align: center;
    padding: 8px;
}

#header h1:hover, .search-btn:hover, .list-item:hover, .nav-item:hover, .nav-drop:hover {
    cursor: pointer;
}

/* Responsive */
/* For desktop: */
.col-1 {
    width: 8.33%;
  }
.col-2 {
  width: 16.66%;
}
.col-3 {
  width: 25%;
}
.col-4 {
  width: 33.33%;
}
.col-5 {
  width: 41.66%;
}
.col-6 {
  width: 50%;
}
.col-7 {
  width: 58.33%;
}
.col-8 {
  width: 66.66%;
}
.col-9 {
  width: 75%;
}
.col-10 {
  width: 83.33%;
}
.col-11 {
  width: 91.66%;
}
.col-12 {
  width: 100%;
}
  
[class*="col-"] {
  float: left;
}

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
    .book-list .col-3 {
        width: 50%;
    }
    .search-bar {
        display: flex;
        margin: auto;
        justify-content: center;
    }
    .search-bar h4 {
        margin: 0 10px 10px 10px;
    }
    .search-type {
        min-width: 200px;
    }
    .nav-drop h4 {
        background-color: rgb(47, 155, 74);
    }
}